* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-main;
  background: radial-gradient(circle at top, #5a3b1e, #2f1e0f);
  color: $color-text;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
